* {
    margin: 0;
    font-family: Arial;
    box-sizing: border-box; /* Corrected 'border' to 'box-sizing' */
}

i{
    font-size: 30px;
 
   
}
.navbar {
    height: 70px;
    background-color: white;
    color: rgb(167, 167, 174);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
}

.nav-logo {
    display: flex;
    align-items: center;
    height: 50px;
    width: 150px;
}

.logo {
    background-image: url("/keep_2020q4_48dp.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}
.logo-title{
    font-size: 34px;
}
.search-bar{
    height: 50px;
    width: 500px;
    border-radius: 4px;
    border: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
      padding: 8px; 
      display: flex;
      align-items: center;
      cursor: pointer;
}
.search-bar i{
    font-size: 30px;
    margin: 20px;
   
}
.search-bar input {
  
    margin: auto; 
  border: none;
    outline: none; 
    font-size: 1.5rem;
    font-weight: 100;
}
.right-nav {
    display: flex;
    align-items: center;
    color: rgb(167, 167, 174);
    
}
.right-nav img{
    border-radius: 50%;
    cursor: pointer;
    height: 50px;
}